.Box {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 0;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
}

.Box:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.TimeAt {
  width: 95%;
  margin: auto;
  color: #444;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1em;
  border-bottom: 1px solid #eee;
}

.Footer {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-top: 2px solid #eee;
  margin: auto;
  color: #2874ff;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}

.Container .Header {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  width: 100%;
}
.Info,
.InfoH {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}
.InfoH {
  width: 95%;
  margin: auto;
}
.Container .Divider {
  box-sizing: border-box;
  width: 95%;
  height: 7px;
  background-color: #2874ff;
  margin: auto;
}

.Header .Name {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  font-size: 1.3em;
  color: #444;
  font-weight: bold;
}

.Header .Time {
  width: 90%;
  margin: auto;
  margin-left: 7%;
  display: flex;
  color: #444;
  font-size: 1.2em;
}

.Header .Address {
  width: 90%;
  margin: auto;
  margin-left: 7%;
  height: auto;
  color: #444;
  font-size: 1em;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
  max-height: 120px;
}
.Arrow {
  float: left;
  height: 100%;
  width: 5%
}
.Add {
  display: block;
  float: right;
  width: 95%;
}

.Control {
  width: 95%;
  height: auto;
  margin: auto;
  display: block;
}

.Buttons {
  width: 100%;
  height: 100px;
}

.ButtonRight {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  padding-top: 25px;
}

.ButtonLeft {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 25px;
}

.Form {
  margin: auto;
  width: 100%;
  height: 165px;
}

.CustChoice {
  width: 100%;
  height: 45px;
  text-align: center;
  overflow: auto;
}
.Msg1 {
  color: #444;
  font-weight: bold;
  font-size: 14px;
}

.DeliveryTime {
  width: 100%;
  height: 100px;
}

.DateText {
  text-align: center;
  font-size: 1.2em;
  color: #444;
}
.From,
.To {
  width: 100%;
  height: 35%;
  font-size: 1.2em;
  text-align: center;
}
.TimeText {
  float: left;
  margin-left: 15%;
  width: 10%;
  color: #444;
}

.Delivery {
  width: 100%;
  height: 20px;
  color: white;
  font-size: 1.1em;
  text-align: center;
  color: #444;
  font-weight: bold;
}

.Summary {
  font-size: 0.9em;
  color: #444;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Msg {
  color: #444;
  overflow: auto;
}
.NoItem {
  font-size: 1.2em;
  text-align: center;
  color: #2874ff;
  font-weight: bold;
  border-top: 2px solid #2874ff;
}

 
@media(max-width: 600px) {
  .Header .Address {
    font-size: 0.8em;
  }
  .Header .Name {
    font-size: 1.2em;
  }
  .Container .Divider {
    height: 10px;
  }
  .DateText {
    font-size: 1em;
  }
}

@media( max-width: 350px ) {
  .Add {
    width: 90%;
    margin-left: 5%;
  }
}

@media( max-width: 650px ) {
  .Box {
    width: 95%;
  }
  .TimeAt {
    font-size: 0.8em;
  }
  .Buttons {
    height: 60px;
  }
  .ButtonLeft,
  .ButtonRight {
    padding-top: 15px;
  }
  .TimeText {
    margin-left: 10%;
  }
  .Footer,
  .NoItem {
    font-size: 0.8em;
  }
}

@media( max-width:570px ) {
  .Form {
    height: 200px;
  }
  .TimeText {
    clear: both;
    margin: 0;
    width: 100%;
  }
  .DeliveryTime {
    height: 130px;
  }
  .From,
  .To {
    height: 40%;
  }
  .Summary {
    font-size: 0.8em;
  }
}

@media(max-width: 460px) {
  .Form {
    height: 225px;
  }
  .DeliveryTime {
    height: 160px;
  }
  .From,
  .To {
    height: 45%;
  }
}
