.Box {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 0;
  border: 1px solid #33addd;
  margin-bottom: 5%;
}

.Box:hover {
  box-shadow: 0 2px 3px #87cefa;
}
.Container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /* border: 1px solid #006989; */
}

.TimeAt {
  /* background-color: crimson; */
  width: 95%;
  margin: auto;
  color: #006989;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 1.0em;
  border-bottom: 1px solid #006989;
}

.Footer {
  box-sizing: border-box;
  width: 100%;
  /* height: 50px; */
  height: auto;
  border-top: 2px solid #006989;
  margin: auto;
  color: #006989;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  /* display: inline-flex; */
}

.Container .Header {
  box-sizing: border-box;
  width: 100%;
  /* background-color: gray; */
  /* border: 1px solid black; */
  height: auto;
  width: 100%;
}
/* .Container .Info { */
  .Info {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  /* background-color: aqua; */
}
.Container .Divider {
  box-sizing: border-box;
  width: 95%;
  height: 15px;
  background-color: #006989;
  margin: auto;
}

.Header .Name {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  font-size: 1.3em;
  color: #006989;
  font-weight: bold;
  /* background-color: #fff; */
}

.Header .Time {
  width: 90%;
  margin: auto;
  margin-left: 7%;
  display: flex;
  color: #4F5151;
  font-size: 1.2em;
}

.Header .Address {
  width: 90%;
  margin: auto;
  margin-left: 7%;
  /* background-color: red; */
  height: auto;
  color: #4F5151;
  font-size: 1.2em;
  display: inline-block;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
  max-height: 120px;
}
.Arrow {
  float: left;
  height: 100%;
  width: 5%
}
.Add {
  display: block;
  float: right;
  width: 95%;
}

.Control {
  /* background-color: yellow; */
  width: 95%;
  height: auto;
  margin: auto;
  display: block;
}

.AlignInput {
  width: 75%;
  /* background-color: chartreuse; */
  /* margin-left: 7%; */
  padding-left: 25%;
} 

.Buttons {
  /* background-color: teal; */
  width: 100%;
  height: 100px;
}

.ButtonRight {
  /* background-color: #4F5151; */
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  padding-top: 25px;
  /* position: relative; */
  /* top: 30%; */
}

.ButtonLeft {
  /* background-color: aquamarine; */
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 25px;
}

.Form {
  /* background-color: tomato; */
  margin: auto;
  width: 100%;
  height: 205px;
}

.DeliveryTime {
  /* background-color: yellow; */
  width: 100%;
  height: 40%;
}

.DateText {
  /* background-color: black; */
  text-align: center;
  font-size: 1.2em;
  color: #006989;
}
.From,
.To {
  /* background-color: violet; */
  width: 100%;
  height: 35%;
  font-size: 1.2em;
  /* padding-left: 10%; */
  text-align: center;
}
.TimeText {
  float: left;
  margin-left: 15%;
  width: 10%;
  color: #006989;
}

.Delivery {
  /* background-color: turquoise; */
  width: 100%;
  height: 20px;
  color: white;
  font-size: 1.1em;
  text-align: center;
  color: #006989;
  font-weight: bold;
}

.Summary {
  /* background-color: springgreen; */
  font-size: 0.9em;
  color: #006989;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Msg {
  overflow: auto;
  /* max-height: 30px; */
}
.NoItem {
  /* background-color: yellow; */
  font-size: 1.2em;
  text-align: center;
  color: #006989;
  font-weight: bold;
  border-top: 2px solid #006989;
}

 
@media(max-width: 600px) {
  .Header .Address {
    font-size: 1em;
  }
  .Header .Name {
    font-size: 1.2em;
  }
  .Container .Divider {
    height: 10px;
  }
  .DateText {
    font-size: 1em;
  }
}

@media( max-width: 350px ) {
  .Add {
    width: 90%;
    margin-left: 5%;
  }
}

@media( max-width: 650px ) {
  .Buttons {
    height: 60px;
  }
  .ButtonLeft,
  .ButtonRight {
    padding-top: 15px;
  }
  .TimeText {
    margin-left: 10%;
  }
  .Footer,
  .NoItem {
    /* height: 32px; */
    font-size: 0.8em;
  }
}

@media( max-width:570px ) {
  .Form {
    height: 250px;
  }
  .TimeText {
    clear: both;
    margin: 0;
    width: 100%;
  }
  .DeliveryTime {
    height: 50%;
    /* text-align:unset; */
  }
  .From,
  .To {
    height: 50%;
  }
  .Summary {
    font-size: 0.8em;
  }
}

@media(max-width: 450px) {
  .Form {
    /* height: 300px; */
  }
  .DeliveryTime {
    height: 55%;
    /* text-align:unset; */
  }
  .From,
  .To {
    height: 45%;
  }
}

@media( max-width: 630px ) {
  .Form {
    height: 300px;
  }
}
