.Title {
  color: #2874ff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.InputBox {
  height: 80px;
}
.Input {
  width: 80%;
  position: relative;
  top: 19px;
  left: 8%;
}
.Button {
  width: 150px;
  margin: auto;
}
.Error {
  color: #ff0000;
  text-align: center;
  font-size: 1em;
  margin-top: 4px;
}