.Photo {
  width: 90%;
  height: 390px;
  margin: auto;
  border-bottom: 2px solid #ccc;
}
.PhotoBox {
  background-color: white;
  width: 80%;
  height: 45%;
  max-width: 300px;
  max-height: 200px;
  margin: auto;
  box-shadow: 2px 3px 3px #ccc, 2px -3px 3px #ccc, -2px -3px 3px #ccc, -2px 3px 3px #ccc;
}
.PhotoBox img {
  width: 100%;
  height: 100%;
}
.PhotoTitle {
  text-align: center;
  width: 100%;
  height: 20px;
  color: #444;
  font-weight: bold;
  margin-bottom: 5px;
}

.PhotoButtons {
  width: 100%;
  margin: 'auto';
  height: 150px;
}
.SideSpace {
  width: 100%;
  height: 100%;
}

.ButtonGroup {
  height: 100%;
  width: 120px;
  margin: auto;
}