.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: auto;
}

.NavItem a {
  color: #2874ff;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.NavItem a:hover,
.NavItem a:active,
.NavItem a.active { 
  color: #b0ccff;
}