.Item {
  width: 100%;
  height: 150px;
  border-top: 2px solid #eee;
  background-color: white;
}
.Container {
  width: 95%;
  height: 90%;
  margin: auto;
  margin-top: 1%;
}
.Photo {
  width: 152px;
  height: calc(100% - 2px);
  border: 1px solid #ccc;
  float: left;
  border-radius: 4px;
}
.Photo img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.InfoContainer {
  width: calc(100% - 154px);
  height: 100%;
  float: right;
}
.Info {
  width: 65%;
  height: 100%;
  text-align: left;
  float: left;
}
.Price {
  width: 35%;
  height: 100%;
  float: right;
  text-align: right;
  color: #2874ff;
  font-weight: bold;
  font-size: 1.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
}
.Price div {
  padding-top: 55px;
}
.Sub {
  width: 90%;
  height: 100%;
  margin: auto;
  color: #444;
  overflow: auto;
}
.Name {
  font-weight: bold;
  font-size: 1.2em;
  height: 40%;
  overflow: auto;
  color: #2874ff;
}
.Category {
  font-size: 1.1em;
  opacity: 0.7;
  height: 20%;
}
.Unit {
  font-size: 1em;
  height: 15%;
}
.Quntity {
  font-size: 1.2em;
  height: 20%;
}
.Category,
.Unit,
.Quntity {
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
}

@media(max-width: 650px) {
  .Item {
    height: 100px;
  }
  .Photo {
    width: 80px;
  }
  .InfoContainer {
    width: calc(100% - 83px);
  }
  .Info {
    width: 55%;
  }
  .Price {
    width: 45%;
    font-size: 0.9em;
  }
  .Price div {
    padding-top: 35px;
  }
  .Name {
    font-size: 0.9em;
  }
  .Category {
    font-size: 0.8em;
  }
  .Unit {
    font-size: 0.7em;
  }
  .Quntity {
    font-size: 0.9em;
  }
}