.LabelIn {
  color: #006989;
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 2px solid #006989;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}