.Button button {
    border: none;
    padding: 5px;
    width: 35%;
    height: 50px;
    background-color: #2874ff;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    outline: none;
}

.Button button:hover,
.Button button:active,
.Button1 button:hover,
.Button1 button:active {
    color: #2874ff;
    background-color: #b0ccff;
    border: 1px solid #2874ff;
}

.Button1 button {
	width: 100px;
	font-size: 0.9em;
	height: 30px;
	color: #2874ff;
	padding: 3px;
	border: none;
	background-color: #2874ff;
	color: white;
	cursor: pointer;
	border-radius: 30px;
	font-weight: bold;
	outline: none;
}

@media( max-width: 600px ) {
    .Button1 button {
        font-size: 0.8em;
        width: 80px;
    }
}

@media (max-width: 650px) {
    .Button button {
        width: 50%;
        height: 30px;
        font-size: 0.8em;
    }
}

@media (max-width: 450px) {
	.Button button {
			width: 80%;
			height: 30px;
			font-size: 0.8em;
	}
}

@media (max-width: 800px) {
    .Button button {
        font-size: 1em;
    }
}