.Create {
  background-color: #b0ccff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}
.Header {
  background-color: #2874ff;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0 10px;
  z-index: 50;
}
.HeaderS {
  height: 50%;
  width: 85%;
  margin: auto;
}
.Fuse,
.Logout {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  float: left;
}
.Logout {
  float: right;
}
.Logout a {
  text-decoration: none;
  color: white;
}
.Container {
  background-color: #eee;
  box-sizing: border-box;
  width: 85%;
  max-width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
  top: 15%;
  margin-bottom: 2.5%;
}
.Form {
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  margin: auto;
}
.Pair {
  width: 100%;
  height: 45px;
}
.Left {
  float: left;
  width: 50%;
}
.Right {
  width: 50%;
  float: right;
}
.Icon {
  font-size: 2em;
}
.Domain {
  width: 90%;
  margin: auto;
}
.Buttons {
  width: 90%;
  margin: 10px auto;
  text-align: center; 
}
.Button {
  width: 100px;
  height: 30px;
  display: inline-block;
  margin: 5px 10px;
}
.SideSpace {
  width: 100%;
  height: 100%;
}
.PhotoC {
  width: 100%;
  padding-top: 15px;
}
.Msg {
  color: #444;
  font-size: 14px;
  text-align: left;
  width: 100%;
  font-weight: bold;
}
.Msg1 {
  color: #ff0000;
  text-align: center;
  font-size: 14px;
  margin-top: 2px;
}
.SPLabel {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  opacity: 0.7;
  text-align: center;
  padding-top: 4px;
}

@media( max-width: 650px ) {
  .Msg1 {
    font-size: 12px;
  }
}