.Profile {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.CustProfile {
  width: 95%;
  height: auto;
  margin: auto;
}
.ShopProfile {
  width: 95%;
  height: auto;
  margin: auto;
  padding-bottom: 40px;
}
.ProfileTitle {
  width: 100%;
  height: 40px;
  color: #2874ff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding-top: 10px;
}
.PhotoLabel {
  width: 150px;
  margin: auto;
}
.Photo {
  border: 1px solid #ccc;
  border-radius: 4px; 
  width: 300px;
  height: 250px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}
.Photo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  margin: auto;
}
.Input {
  width: 95%;
  height: 25px;
}
.Catbox,
.SM {
  margin: 15px 0;
}
.Both,
.Both1 {
  height: 28px;
  width: 100%;
}
.Left,
.Right,
.Left1,
.Right1 {
  height: 100%;
  width: 80%;
  float: left;
}
.Right,
.Right1 {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 1.7em;
  margin-left: 4px;
}
.Both1 {
  height: 24px;
  margin: 5px 0;
}
.Left1 {
  color: #444;
  border: 1px solid #ccc;
  height: 23px;
  font-size: 16px;
  padding-left: 10px;
  width: calc(80% - 12px);
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Right1 {
  font-size: 1.5em;
}
.Input1 {
  float: left;
  height: 100%;
  width: 50%;
}


@media(max-width: 450px) {
  .Photo,
  .PhotoLabel {
    width: 100%;
  }
}