.EditModal {
  width: 100%;
}
.Title {
  color: #2874ff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.Button {
  width: 150px;
  margin: 10px auto;
}
.Error {
  margin: 10px 0;
  color: #ff0000;
  text-align: center;
  font-size: 1em;
}