.Index {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.Showcase {
  background-color: #2874ff;
  box-sizing: border-box;
  width: 100%;
  height: 375px;
  box-shadow: 0 0 5px 2px #888;
}
.Links {
  width: 50%;
  height: 16%;
  margin: auto;
  position: relative;
  top: 75%;
}
.Content {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 3%;
  color: #2874ff;
}
.Title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 2px;
}
.Text {
  font-size: 1em;
  font-weight: bold;
}
.Left,
.Right {
  width: 50%;
  height: 100%;
  float: left;
}
.Right {
  float: right;
}
.TagLine {
  font-weight: 100;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
  color: white;
  position: relative;
  top: 200px;
  text-align: center;
}
.Msg {
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 210px;
  width: 98%;
  margin: auto;
}
.Cards,
.Videos,
.MainV {
  border-top: 1px solid #ccc;
  width: 95%;
  margin: 20px auto;
  max-width: 1300px;
}
.Card {
  width: 90%;
  height: 200px;
  margin: auto;
}
.HR {
  width: 95%;
  border-top: 1px solid #eee;
  border-bottom: none;
}
.Body {
  float: left;
  height: 100%;
  width: 70%;
}
.Photo {
  float: left;
  height: 100%;
  width: 30%;
}
.Photo img {
  width: 70%;
  height: 70%;
  margin: 10%;
}
.Title1 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #2874ff;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
}
.Text1 {
  color: #444;
  text-align: left;
  overflow: hidden;
  font-size: 16px;
}
.Footer {
  width: 100%;
  height: 150px;
  background-color: #2874ff;
}
.FooterC {
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
  top: 7px;
  max-width: 1200px;
}
.LeftC {
  width: 70%;
  height: 80%;
  float: left;
  margin-top: 30px;
}
.RightC {
  width: 30%;
  height: 80%;
  float: left;
  margin-top: 30px;
}
.Label,
.Label1 {
  color: white;
  font-size: 16px;
  text-align: left;
  margin: 15px 0;
}
.Label1 {
  text-align: right;
}
.Label a,
.Label1 a {
  color: white;
  text-decoration: none;
}
.Label a:hover,
.Label1 a:hover {
  color: #b0ccff;
}
.Video {
  width: 90%;
  height: 200px;
  margin: 10px auto;
}
.VideoCL,
.VideoCR {
  float: left;
  height: 100%;
  width: 350px;
  border: 1px solid #ccc;
}
.VideoCR {
  float: right;
}
.VideoTL,
.VideoTR {
  float: right;
  height: 100%;
  width: calc(100% - 352px);
  color: #2874ff;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  line-height: 200px;
}
.VideoTL {
  float: left;
}
.MainVT {
  color: #2874ff;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
.MainVC {
  width: 560px;
  height: 315px;
  border: 1px solid #ccc;
}

@media( max-width: 630px ) {
  .Links {
    width: 70%;
  }
  .Cards,
  .Videos {
    width: 100%;
  }
  .Card {
    height: 170px;
  }
  .Body {
    width: 60%;
  }
  .Photo {
    width: 40%;
  }
  .Photo img {
    width: 80%;
    height: 80%;
    margin: 10%;
  }
  .Title1 {
    margin-top: 14px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .Text1 {
    font-size: 12px;
  }
  .Label,
  .Label1 {
    font-size: 12px;
  }
}

@media( max-width: 700px ) {
  .MainVC {
    width: 90%;
    height: 250px;
    margin: auto;
  }
  .MainVT {
    font-size: 1.5em;
  }
}

@media( max-width: 970px ) {
  .Video {
    height: auto;
  }
  .VideoCL,
  .VideoCR {
    height: 200px;
    width: 300px;
    clear: both;
    float: none;
    text-align: center;
  }
  .VideoTL,
  .VideoTR {
    clear: both;
    text-align: center;
    width: 100%;
    line-height: normal;
    font-size: 1.2em;
  }
}