.Index {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.Showcase {
  background-color: #2874ff;
  box-sizing: border-box;
  width: 100%;
  height: 375px;
  box-shadow: 0 0 5px 2px #888;
}

.Links {
  width: 50%;
  height: 16%;
  margin: auto;
  position: relative;
  /* top: 55%; */
  top: 80%;
}

.Content {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3% 0; 
  color: #2874ff;
}

.Title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 2px;
}

.Text {
  font-size: 1em;
}

.Left,
.Right {
  width: 50%;
  height: 100%;
  float: left;
}
.Right {
  float: right;
}

.Fuse {
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  position: relative;
  top: 120px;
}

.TagLine {
  font-weight: 100;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 2px;
  color: white;
  position: relative;
  /* top: 130px; */
  top: 200px;
  text-align: center;
}

@media( max-width: 630px ) {
  .Links {
    width: 70%;
  }
}
