.Layout {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 50;
}

.Layout .Header {
  background-color: #2874ff;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 10px;
  z-index: 50;
  display: flex;
}

.Layout .Sidebar {
  background-color: #eee; 
  position: fixed;
  top: 50px;
  left: 0;
  box-sizing: border-box;
  width: 17%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 2px solid #ccc;
  z-index: 50;
}

.Layout .Window {
  position: fixed;
  top: 50px;
  left: 17%;
  box-sizing: border-box;
  width: 83%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
  z-index: 50;
  background-color: #fafafa;
}

.Layout .Header .Title {
  box-sizing: border-box;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  position: fixed;
  top: 2.5%;
  overflow: hidden;
}

@media( max-width: 650px ) {
  .Layout .Sidebar {
    display: none;
  }
  .Layout .Window {
    width: 100%;
    left: 0;
  }
}
